[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.5"


[packages]

colorama = "*"
unidecode = "*"
tabulate = "*"


[dev-packages]
sphinx = "*"
ghp-import = "*"
pytest = "*"
