[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

colorama = "*"
unidecode = "*"
tabulate = "*"


[dev-packages]

sphinx = "*"
ghp-import = "*"
pytest = "*"
pyflakes = "*"
